            <div class="jheader" >
                <table>
                <tr>
                    <td><img src="../images/nodejs06e.png" height="36" ></td>
                    <td><div style="font-size: 20pt; margin-left: 30px; margin-right: 80px; color: #BBB;">
                    Internet technologies
                    </div></td>
                </tr>
                </table>
            </div>

            <nav>
                <div style="margin-bottom: 1px;">
                    <a class="men" href="/">Home</a>
                    <a class="men" href="info2">Handlebars</a>
                    <a class="men" href="structure">Structure</a>
                    <a class="men" href="about">About</a>
                </div>
            </nav>
