<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/styles.css"/> 
    <title>{{zPageTitle}}</title>
</head>
<body>

    <form id="form1" runat="server">

      {{> navig }}
      <div class="start">

            <div style="font-size:16pt; color:#302009; padding: 6px 6px 0px 4px;">
                <b>A multipage web application on a node.js server</b>
            </div>

            <h3>About application</h3>

            <p>
                This is a multipage web application on a node.js server.<br/>
                Project written in Visual Studio Code;
            </p>
            
      </div>
      {{> footer}}

    </form>

</body>
</html>
