<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/styles.css"/> 
    <title>{{zPageTitle}}</title>
</head>
<body>

    <form id="form1" runat="server">

      {{> navig }}
      <div class="start">
            <img src="../images/node_express_3.png" width="160"style="float: right; padding: 16px;">

            <div style="font-size:16pt; color:#302009; padding: 6px 6px 0px 4px;">
                <b>A multipage web application on a node.js server</b>
            </div>

            <h3>Handlebar framework</h3>

            <p>
                Handlebars is a web development framework that helps developers create dynamic, responsive 
                web applications. It provides a number of features that make development faster and easier, 
                including a template engine, data binding, and URL routing. Handlebars is open source 
                and is available for use with a number of different programming languages.
            </p>
            <p>
                Handlebars is a templating engine that allows you to easily separate your HTML from your application’s code.
            </p>
            
      </div>
      {{> footer}}

    </form>

</body>
</html>
